In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import timedelta

In [3]:
df = pd.read_csv('DemandData_2020.csv')

In [4]:
df.head()

,SETTLEMENT_DATE,SETTLEMENT_PERIOD,ND,I014_ND,TSD,I014_TSD,ENGLAND_WALES_DEMAND,EMBEDDED_WIND_GENERATION,EMBEDDED_WIND_CAPACITY,EMBEDDED_SOLAR_GENERATION,...,I014_PUMP_STORAGE_PUMPING,FRENCH_FLOW,BRITNED_FLOW,MOYLE_FLOW,EAST_WEST_FLOW,NEMO_FLOW,I014_FRENCH_FLOW,I014_BRITNED_FLOW,I014_MOYLE_FLOW,I014_EAST_WEST_FLOW
0,01-JAN-2020,1,26340,23706,27153,24325,23821,1123,6465,0,...,19,1703,852,-151,-47,854,1681,854,-150,-44
1,01-JAN-2020,2,26921,24132,27684,24750,24393,1083,6465,0,...,19,1703,853,-146,0,854,1681,854,-143,0
2,01-JAN-2020,3,26569,23752,27240,24370,24085,1053,6465,0,...,18,1703,852,-53,0,854,1681,854,-49,0
3,01-JAN-2020,4,25754,22942,26435,23558,23350,1022,6465,0,...,16,1703,852,-66,0,854,1681,854,-65,0
4,01-JAN-2020,5,25075,22307,25824,22923,22788,1002,6465,0,...,16,1704,853,-74,-60,854,1681,854,-72,-65